@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.admin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background-color: #f5f5f5;
}

.admin-heading {
  font-size: 100px;
  color: #333;
  font-family: "Bebas Neue", sans-serif;
}
