@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Old+Standard+TT:wght@400;700&display=swap");

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.hero {
  display: flex;
  margin-top: 20px;
}

.hero-main {
  flex: 2;
  margin-right: 20px;
}

.hero-side {
  flex: 1;
}

.hero-main img,
.hero-side img {
  width: 100%;
  border-radius: 8px;
}

.tag {
  color: #555;
  font-weight: bold;
  margin-top: 8px;
}

.date {
  color: gray;
  font-size: 12px;
  margin-bottom: 5px;
}

.side-card {
  margin-bottom: 20px;
}

.photo-of-day {
  text-align: center;
  margin-top: 40px;
}

.photo-of-day img {
  width: 100%;
  aspect-ratio: 3/1;
  object-fit: cover;
  border-radius: 10px;
}

.news {
  margin-top: 40px;
}

.grid {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  flex: 1;
}

.weather-fun {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.weather,
.fun {
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
