@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Old+Standard+TT:wght@400;700&display=swap");

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.mb-4 {
  margin-bottom: 1rem;
}

.bg-purple {
  padding: 4px 12px;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  background-color: #5248c5;
}

.title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-family: "Bebas Neue";
  letter-spacing: 1.5px;
}

.featured-image {
  width: 100%;
  aspect-ratio: 2 / 1;
  overflow: hidden;
  border-radius: 0.5rem;
}

.featured-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meta {
  margin-top: 0.5rem;
}

.meta p {
  font-size: 0.875rem;
  color: #4b5563;
}

.meta p:first-child {
  color: black;
}

.article-content {
  max-width: none;
}

.article-content p {
  margin-bottom: 1rem;
  line-height: 1.6;
  font-size: 1rem;
}
