@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Old+Standard+TT:wght@400;700&display=swap");

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.hero {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.hero-main {
  flex: 2;
}

.hero-main .post-image {
  height: 82%;
}

.hero-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-side .post-image {
  height: 250px;
}

.photo-of-day {
  text-align: center;
  margin-top: 40px;
}

.photo-of-day img {
  width: 100%;
  aspect-ratio: 3/1;
  object-fit: cover;
  border-radius: 10px;
}

.news {
  margin-top: 40px;
}

.grid {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  flex: 1;
}

.weather-fun {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.weather,
.fun {
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
